<!--begin::Engage widget 1-->
<div class="card card-xxl-stretch-50" style="background-color: #1C53E1">
    <!--begin::Card body-->
    <div class="card-body d-flex align-items-end p-0 pt-10">
        <!--begin::Wrapper-->
        <div class="flex-grow-1 ps-9 pb-9">
            <!--begin::Items-->
            <div class="pt-8">
                <!--begin::Item-->
                <div class="d-flex align-items-center mb-3">
                    <i class="ki-solid ki-arrow-circle-left fs-2 text-white me-2"></i>
                    <span class="fw-bold fs-7 text-white">Cereate</span>
                </div>
                <!--end::Item-->
                <!--begin::Item-->
                <div class="d-flex align-items-center mb-3">
                    <i class="ki-solid ki-arrow-circle-left fs-2 text-white me-2"></i>
                    <span class="fw-bold fs-7 text-white">Observe</span>
                </div>
                <!--end::Item-->
                <!--begin::Item-->
                <div class="d-flex align-items-center mb-5">
                    <i class="ki-solid ki-arrow-circle-left fs-2 text-white me-2"></i>
                    <span class="fw-bold fs-7 text-white">Export PDF</span>
                </div>
                <!--end::Item-->
            </div>
            <!--end::Items-->
            <!--begin::Link-->
            <a href="#" class="btn btn-sm btn-success"  data-bs-toggle="modal" data-bs-target="#kt_modal_new_target" >New Target</a>
            <!--end::Link-->
        </div>
        <!--end::Wrapper-->
        <img class="mh-200px" alt="" src="assets/media/svg/illustrations/engage.svg"/>
    </div>
    <!--end::Card body-->
</div>
<!--end::Engage widget 1-->