<!--begin::Mixed Widget 2-->
<div class="card card-xxl-stretch-50 mb-5 mb-xl-8">
    <!--begin::Body-->
    <div class="card-body d-flex flex-column justify-content-between p-0">
        <!--begin::Hidden-->
        <div class="d-flex flex-column px-9 pt-5">
            <!--begin::Number-->
            <span class="text-primary fw-bolder fs-2hx">730</span>
            <!--end::Number-->
            <!--begin::Description-->
            <span class="text-gray-500 fw-semibold fs-6">My Weekly Targets</span>
            <!--end::Description-->
        </div>
        <!--end::Hidden-->
        <!--begin::Chart-->
        <div id="kt_multipurpose_mixed_widget_2_chart" class="mx-3" data-kt-color="primary" style="height: 175px"></div>
        <!--end::Chart-->
    </div>
</div>
<!--end::Mixed Widget 2-->