<!--begin::Mixed Widget 1-->
<div class="card card-xxl-stretch-50 mb-xxl-8">
    <!--begin::Body-->
    <div class="card-body pt-5">
        <!--begin::Chart-->
        <div id="kt_multipurpose_mixed_widget_1_chart" data-kt-height="250" class="mb-n15"></div>
        <!--end::Chart-->
        <!--begin::Label-->
        <span class="badge badge-lg badge-light-warning w-100 text-gray-800 text-start d-flex align-items-center">
            <i class="ki-solid ki-information-5 text-warning me-3 fs-3"></i>            Only New Users
        </span>
        <!--end::Label-->
    </div>
    <!--end::Body-->
</div>
<!--end::Mixed Widget 1-->