<!--begin::Calendar Widget 1-->
<div class="card card-xxl-stretch">
    <!--begin::Card header-->
    <div class="card-header">
        <h3 class="card-title align-items-start flex-column">
			<span class="card-label fw-bold text-gray-900">My Calendar</span>
			<span class="text-muted mt-1 fw-semibold fs-7">Preview monthly events</span>
		</h3>
        <div class="card-toolbar">
            <a href="?page=apps/calendar" class="btn btn-primary">Manage Calendar</a>
        </div>
    </div>
    <!--end::Card header-->
    <!--begin::Card body-->
    <div class="card-body">
        <!--begin::Calendar-->
        <div id="kt_calendar_widget_1"></div>
        <!--end::Calendar-->
    </div>
    <!--end::Card body-->
</div>
<!--end::Calendar Widget 1-->